# Logs
front/logs
front/*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/lerna-debug.log*

front/node_modules
front/dist
front/dist-ssr
front/*.local

# Editor directories and files
front/.vscode/*
front/!.vscode/extensions.json
front/.idea
front/.DS_Store
front/*.suo
front/*.ntvs*
front/*.njsproj
front/*.sln
front/*.sw?

apiProxy/logs
apiProxy/*.log
apiProxy/npm-debug.log*
apiProxy/yarn-debug.log*
apiProxy/yarn-error.log*
apiProxy/pnpm-debug.log*
apiProxy/lerna-debug.log*

apiProxy/node_modules
apiProxy/dist
apiProxy/dist-ssr
apiProxy/*.local

# Editor directories and files
apiProxy/.vscode/*
apiProxy/!.vscode/extensions.json
apiProxy/.idea
apiProxy/.DS_Store
apiProxy/*.suo
apiProxy/*.ntvs*
apiProxy/*.njsproj
apiProxy/*.sln
apiProxy/*.sw?