$bp-desktop: 1030px; //1020px;
$box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$color-accent: #7445FB;
$color-accent-dark: #6532fc;
$color-accent-dark2: #1d0075;
$color-green: #2DC78F;
$color-red: #EA4D4D;
$color-gray-lightest: #f7f7f9;
$color-gray-light: #d7d7d8;
$color-gray: #9896A1;
$color-gray-dark:#626168;
$color-overlay: #9896a1a9;
$color-logo-secondary: #4592FB;